@import url('./Fonts.css');

.head {
  text-align: center;
  background: #C9ADA7;
}

.head h2 {
  color: #144552;
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
}

.boton {
  width: 90px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#app {
  width: 550px;
  height: 450px;
  margin-left: 20px;
  border: 2px solid gray;
  margin-bottom: 20px;
  margin-right: 20px;
}

.text {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  margin-left: 20px;
}
